nav.navbar
    .container
        .nav-wrapper
            a(href="/").brand-logo
                img(src="/images/logo.svg" style="height: 50px; margin-top: 5px;" alt="Röda Korset Logo")
            a(href="#" data-target="mobile-demo" class="sidenav-trigger")
                i.material-icons menu
            ul.right.hide-on-med-and-down
                if isLoggedIn
                    li
                        a(href="/jour/dashboard").black-text Dashboard
                    li
                        a(href="/jour/logout").btn Logout
                else
                    li
                        a(href="/volunteer/signup").black-text Registera som volontär
                    li
                        a(href="/jour/login").btn Login
ul#mobile-demo.sidenav
    if isLoggedIn
        li
            a(href="/jour/dashboard") Dashboard
        li
            a(href="/jour/logout").btn Logout
    else
        li
            a(href="/jour/login").btn Login
