<nav class="navbar">
    <div class="container">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">
                <img src="/images/logo.svg" style="height: 50px; margin-top: 5px;" alt="Röda Korset Logo" />
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <% if(data.isLoggedIn){ %>
                    <li><a class="black-text" href="/dashboard">Dashboard</a></li>
                    <li><a class="btn" href="/logout">Logout</a></li>
                <% } else { %>
                    <li><a class="btn" href="/login">Login</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <% if(data.isLoggedIn){ %>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a class="btn" href="/logout">Logout</a></li>
    <% } else { %>
        <li><a class="btn" href="/login">Login</a></li>
    <% } %>
</ul>
