extends layout.pug
block content
    #index-banner.section.no-pad-bot
        h4.center Hej #{data.userid}
        p.center Bränder härjar just nu i stora delar av Dalarna.
        p.center
            a(href="/moreinfo" target="_blank") Läs mer här

        .container
            table
                thead
                    tr
                        th Information
                tbody
                    tr
                        td.info-with-icon
                            i.material-icons accessibility
                            span Kläder/utrustning att ta med:
                        td Regnkläder och handskar
                    tr
                        td.info-with-icon
                            i.material-icons group
                            span Volontärer:
                        td 99/100
                    tr
                        td.info-with-icon
                            i.material-icons location_on
                            span Samlingsplats:
                        td Mora, Morastrand
                    tr
                        td.info-with-icon
                            i.material-icons access_time
                            span Tidpunkt:
                        td 15:00, 26 oktober
            table
                thead
                    tr
                        th Hjälp som behövs
                tbody
                    tr
                        td Städning
                    tr
                        td Bädda sängar
                    tr
                        td Dela ut mat
            h4.center Kan du delta som volontär?
            br
            .container
                .row.center
                    .col.s1.xl2
                    a(href=`./${data.userid}/yes`)#yes-brn.col.s4.xl3.btn.waves-effect.waves-light.green Ja
                    .col.s1.xl2
                    a(href=`./${data.userid}/no`)#no-brn.col.s4.xl3.btn.waves-effect.waves-light.red Nej
                    .col.s1.xl2
