extends layout.pug
block content
    #index-banner.section.no-pad-bot
        h4.center Hej #{data.name}
        p#sms-text.center
        p.center
            a(href="/volunteer/moreinfo" target="_blank") Läs mer här

    .container
        table
            thead
                tr
                    th Information
            tbody
                tr
                    td.info-with-icon
                        i.material-icons accessibility
                        span Kläder/utrustning att ta med:
                    td#equipment
                tr
                    td.info-with-icon
                        i.material-icons group
                        span Volontärer:
                    td
                        span#volunteers_yes
                        span /
                        span#volunteers_needed
                tr
                    td.info-with-icon
                        i.material-icons location_on
                        span Samlingsplats:
                    td#assembly_point
                tr
                    td.info-with-icon
                        i.material-icons access_time
                        span Tidpunkt:
                    td 
                        span#assembly_time
                        span  
                        span#assembly_date
        table
            thead
                tr
                    th Hjälp som behövs
            tbody#help_needed
                
    .container
        .row
            .col.s12
                .card-panel.red
                    form.invert-input
                        h6.white-text Skicka meddelande till Jour
                        .row
                            .input-field.col.s12
                                textarea#textarea1.materialize-textarea
                                label(for="textarea1") Meddelande
                        .row
                            button(type="submit" name="action").btn.white.black-text.waves-effect.waves-light Skicka
                                i.material-icons.right send
    .container
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1934.003647157004!2d14.54080731651843!3d61.00490358259724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4667dc8392b66b51%3A0x1e027135d335bddb!2sMorastrand%20station!5e0!3m2!1ssv!2sse!4v1601971620024!5m2!1ssv!2sse")#googleMaps


    script.
        fetch(window.location.origin + "/api/emergency/" + "#{data.emergency_id}")
        .then(res => res.json())
        .then(data => {
            $("#sms-text").text(data.info.sms_text)
            $("#equipment").text(data.equipment)
            $("#volunteers_yes").text("0")
            $("#volunteers_needed").text(data.volunteers_needed)
            $("#assembly_point").text(data.assembly.point)
            $("#assembly_time").text(data.assembly.time)
            $("#assembly_date").text(data.assembly["date"])

            let help_needed_list = data.info.help_needed.split(",")
            help_needed_list.forEach(task => {
                $("#help_needed").append("<tr><td>" + task + "</td></tr>") 
            });
        });
