<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Röda Korset - Mer info</title>

        <!-- CSS  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>

        <div class="container">
            <nav style="background: #FFF; box-shadow: none;">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo" style="top: 10px">
                        <img src="./images/logo.svg" style="height: 40px" /> 
                    </a>
                </div>
            </nav>
            
            <div class="section no-pad-bot">
                    <h4>Mer information:</h4>
                    <p>
                    Tail leberkas prosciutto shoulder, pork chicken hamburger cow brisket alcatra tenderloin chuck sausage ham. Sirloin ribeye meatball chicken leberkas pig tenderloin hamburger ham pastrami brisket turducken turkey bacon. Tri-tip shank rump picanha. Spare ribs flank corned beef sausage burgdoggen short loin pancetta, ribeye shoulder andouille swine filet mignon rump. Pork belly shankle beef prosciutto bresaola pork corned beef fatback picanha tenderloin. Short loin cow flank, sirloin pork loin buffalo boudin alcatra.
                    <br /><br />
    Pastrami cow pork swine meatball ham pig shoulder leberkas brisket pork loin tri-tip. Porchetta shank t-bone rump ham hock. Salami hamburger brisket drumstick beef, chicken flank pancetta pork belly shankle spare ribs ground round. Tenderloin filet mignon venison turducken prosciutto t-bone.
    <br /><br />
    Burgdoggen meatball pancetta sausage, short ribs biltong pig venison andouille ham hock pastrami spare ribs. Landjaeger ribeye kielbasa pastrami jowl short loin t-bone filet mignon frankfurter turducken. Sirloin pastrami leberkas meatball pork tri-tip. Chislic sausage kevin jerky. Meatball pancetta shankle ham hock, tenderloin ribeye meatloaf. Pancetta brisket spare ribs pork belly rump.</p>    
                </div>
            </div>
        </div>

        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="js/init.js"></script>

    </body>
</html>
