<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Röda Korset - Registrera dig som volontär</title>

        <!-- CSS  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
        <div class="container">
            <nav style="background: #FFF; box-shadow: none;">
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="#" class="brand-logo" style="top: 10px">
                            <img src="./images/logo.svg" style="height: 40px" /> 
                        </a>
                    </div>
                </div>
            </nav>

            <div class="row">
                <form class="col s12">
                    <h2>Registrera dig som volontär</h2>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input placeholder="Namn" id="first_name" type="text" class="validate"  />
                            <label for="first_name">Namn</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="phonenumber" placeholder="T.ex. 0746497289" type="tel" class="validate /">
                            <label for="phonenumber">Mobilnummer</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <div id="contenta">
                            </div>
                            <select multiple>
                                <option value="" disabled selected>Välj områden</option>
                            </select>
                            <label>Ta emot SMS som skickas till:</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="./js/materialize.min.js"></script>
        <script src="./js/init.js"></script>

    </body>
</html>
