html(lang="sv")
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0")
        title Röda Korset - Kirshanteringssystem

        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection")
    body
        #index-banner.section.no-pad-bot
            .container
                h4.cneter Du har tackat nej som volontär.
        script(src="https://code.jquery.com/jquery-2.1.1.min.js")
        script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
        script(src="js/init.js")

