<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Röda Korset - Kan du delta som volontär?</title>

        <!-- CSS  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
        <div class="container">
            <nav style="background: #FFF; box-shadow: none;">
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="#" class="brand-logo" style="top: 10px">
                            <img src="/images/logo.svg" style="height: 40px" /> 
                        </a>
                    </div>
                </div>
            </nav>
            
            <div class="section no-pad-bot" id="index-banner">

                <h4 class="center">Hej Elias</h4>

                <p class="center">
                    Våldsamma bränder härjar just nu i Dalarna.
                </p>
                <p class="center">
                    <a href="/merinfo" target="_blank">Läs mer här</a>
                </p>

                <div class="container">
                    <table>
                        <thead>
                            <tr>
                                <th>Info</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="info-with-icon"><i class="material-icons">accessibility</i>Kläder/Utrustning:</td>
                                <td>Arbetskläder</td>
                            </tr>
                            <tr>
                                <td class="info-with-icon"><i class="material-icons">group</i>Volontärer:</td>
                                <td class="red-text">99/100</td>
                            </tr>
                            <tr>
                                <td class="info-with-icon"><i class="material-icons">location_on</i>Samlingsplats:</td>
                                <td>Mora, Morastrand</td>
                            </tr>
                            <tr>
                                <td class="info-with-icon"><i class="material-icons">access_time</i>Tidpunkt:</td>
                                <td>15:00, 26 Oktober</td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <table>
                        <thead>
                            <tr>
                                <th>Hjälp som behövs</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Städning</td>
                            </tr>
                            <tr>
                                <td>Bädda sängar</td>
                            </tr>
                            <tr>
                                <td>Dela ut mat</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h4 class="center">Kan du delta som volontär?</h4>
                <br />
                <div class="container">
                    <div class="row center">
                        <div class="col s1 xl2"></div>
                        <a href="./<%-data.userid%>/yes" id="yes-btn" class="col s4 xl3 btn waves-effect waves-light green">Ja</a>
                        <div class="col s2 xl2"></div>
                        <a href="./<%-data.userid%>/no" id="no-btn" class="col s4 xl3 btn waves-effect waves-light red">Nej</a> 
                        <div class="col s1 xl2"></div>
                    </div>
                </div>
            </div>
        </div>

        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="/js/init.js"></script>

    </body>
</html>
